.user-board{
    margin-top: 50px;
    padding: 40px;
    min-height: 700px;
    margin-top: 50px;
    padding: 40px;
    background-color: whitesmoke;
}
/* avatar */
.is-avatar{
  border-radius: 200px;
  width: 300px;
  height: 300px;
  display: block;
}
.user-infor{
  text-align: center;
  margin-top: 20px;
}
.avatar {
  margin-top:50px;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}
.overlay{
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
.avatar:hover .overlay {
  opacity: 1;
}
/* List class */
.information{
  height: 600px;
  margin:0;
  width: 100%;
  position: relative;
  padding: 5px;
  
}
.teacher-function{
  display: inline-block;
}
.information .buttons{
  display: contents;
  justify-content: flex-end;
}
.information .buttons input{
width: 300px;
}
.infor-board{
  overflow-y: auto;
  width: 100%;
  height: 100%;
}
.table{
  border-collapse: collapse;
}
.table thead th {
  position: sticky;
  z-index: 1;
  top:0;
  background: hsl(171, 100%, 41%);
  padding-top: 5px;
}

.table tbody th{
  position: sticky;
  left: 0;
}
.table td{
  z-index: -1;
}
.table th td{
  padding: 8px, 16px;
}
.table thead{
  margin-bottom: 20px;
  
}
.infor-board .button{
  margin-left: 10px;
}
.infor-board .date {
  width: 5%;
  padding-right: 10px;
}
.infor-board .control span{
  font-size: 30px;
  margin: 0;
}
.class-number{
  margin-left: 20px;
  width: 100px;
  text-align: center;
}
.submit .button{
  padding: 30px;
  font-size: 20px;
}

/* ULTIS */
.ml-200{
  margin-left: 270px;
}
.mgr-10{
  margin-right: 10px;
}
.w-800{
  width: 800px;
}
.mt-50{
  margin-top: 50px;
}

.mt-20{
  margin-top: 20px;
}
.pl-200{
  padding-left: 200px;
}
.no-border{
  outline: none;
  background: none;
  border: none;
}

/* edit user form */
.is-inline{
  display: inline;
}

.border{
  border:black
}